body{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
        background-color: #fc3730;

}
.App{
        background-color: #ffffff;
        width: 80vw;
        max-width: 37.5em;
        padding: 3em 2.5em;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        border-radius: 0.62em;
        box-shadow: 0 1.25em 1.8em rgba(19, 69, 9, 0.434);
    
}
.jeu{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
    grid-template-columns: 9fr 3fr;
    gap: 1.25em;

}
.btn-jouer{
    padding-right: 50px;
    padding-left :50px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius:  2em ;
    background-color: #1e8d08;
    color: #ffffff;
    border: none;
    font-weight: bold;
}
.btn-initialiser{
    padding-right: 50px;
    padding-left :50px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius:  2em ;
    background-color: #e6403d;
    color: #ffffff;
    border: none;
    font-weight: bold;
}
img{
    width: 220px;
    height: 200px;
}
.Msg-bravo{
    background-color:#1e8d08;
    padding-right: 50px;
    padding-left :50px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius:  2em ;
    color: #ffffff;
    font-weight: bold;
}
